<% provide(:title, "Contact Us") %>
<h1>Contact Us</h1>
<h3>This page of the application is not available right now. We are working on it. We soon implement this page. Please get back to us later. Meanwhile if you have any questions please contact <h1><%= link_to "Neha Aunty", '#' %></h1></h3>
