<% provide(:title, "Home") %>
<div class="center hero-unit">
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= image_tag("img.jpg", class: 'img-circle img-responsive img') %>
  </div>
</div>
  <h1>Welcome to the Chirp App</h1>

  <h2>
    This is the home page for the 
    <%= link_to "Chirp Application", about_path %>.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>